/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

/* *{
    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 100px; */
    /* background: linear-gradient(180deg, #3D5E5C, #7FC4C0); */
    
/* .bg-img{ */
    /* padding-top: 10px; */
/*     
    align-items: center;
    display: flex;
    justify-content: center;
} */
/* .bg-img img{
    height: 600px;
    width: 1100px;
} */
/* .glass1{
    background: #FFFF;
    width: 200px;
    height: 100px;
} */